.top-margin {
    margin-top: 2em;
}

.float-right {
    float: right;
}

.card-body {
    text-align: justify;
}

.button-group button:first-child {
    margin-left: 0.3em;
}

.wrapper {
    height: 100%;
}

.center-label {
    position: absolute;
    bottom: 0;
    right: 1em;
}

.disclaimer {
    color: red;
    font-size: 1.2em;
}